<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer text-center">
	<div class="container">
		<div class="row">
			<p class="footernote">
				 Connect with Artemis
			</p>
			<ul class="social-iconsfooter">
				<li><a><i class="fa fa-youtube"></i></a></li>
				<li><a><i class="fa fa-facebook"></i></a></li>
				<li><a><i class="fa fa-twitter"></i></a></li>
				<li><a><i class="fa fa-instagram"></i></a></li>
			</ul>
			<p>
				 &copy; 2021 The Artemis - by Gaurav<br/>
			</p>
		</div>
	</div>
</div>