<nav class = "navbar navbar-expand-lg navbar-dark bg-info text-light">
    <a class = "nav-brand text-dark mr-5" routerLink = "artemis">The Artemis</a>
    
    <div>
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link" routerLink = "all-users">All guests</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" routerLink = "search">Search</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" routerLink = "register">Register</a>
            </li>
        </ul>
    </div>
