<nav class = "navbar navbar-expand-lg navbar-dark bg-info text-light">
    <a class = "nav-brand text-dark mr-5">The Artemis</a>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation"></button>
    <span class = "navbar-toggler-icon"></span>
    <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link">All guests</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link">Search</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link">Register</a>
            </li>
        </ul>
    </div>
