<div class="container">
    <div class="row">
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-thumbs-o-up"></i> <span class="counter">4000</span>
                <p>Happy Customers</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-group"></i> <span class="counter">7000</span>
                <p>Daily Site Visits</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-gear"></i> <span class="counter">17</span>
                <p>Available Services</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-location-arrow"></i> <span class="counter">11</span>
                <p>Locations</p>
            </div>
        </div>
    </div>
</div>