<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
<div class="bg-info">
    <!-- Container containing all contents -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <!-- White Container -->
                    <div class="container bg-white rounded mt-2 mb-2 px-0">
                    <!-- Main Heading -->
                    <div class="row justify-content-center align-items-center pt-3">
                        <h1 id="heading"><strong>Login</strong></h1>
                    </div>
                    <div class="pt-3 pb-3">
                        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success! </strong>Login successful!
                            <button (click) ="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                
                            </button>
                        </div>
                        <form class="form-horizontal">
                            <!-- User Name Input -->
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input [(ngModel)]="registerUserData.username" type="text"  name="username" placeholder="&#xf007; &nbsp; User Name" class="form-control border-info placeicon"> </div>
                            </div><br> <!-- Password Input -->
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input [(ngModel)]="registerUserData.password" type="password"  name="password" placeholder="&#xf084; &nbsp; &#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control border-info placeicon"> </div>
                            </div><br> <!-- CheckBox Remember Me-->
                            <div class="form-group row justify-content-center px-3">
                              <label for="email">Email</label>
                              <input [(ngModel)]="registerUserData.email" type="text"  name="email" class="form-control rounded-0" required>
                            </div>
                            <div class="form-group row justify-content-center px-3">
                              <label >Roles</label><br>
                              
                                  
                          <input [(ngModel)]="registerUserData.roles" type="radio" id="user" name="roles" value="user">
                          <label for="user">Receptionist
                      </label>
                      
                          <input [(ngModel)]="registerUserData.roles" type="radio" id="mod" name="roles" value="mod">
                          <label for ="mod">Manager
                      </label>
                      
                          <input [(ngModel)]="registerUserData.roles" type="radio" id="admin" name="roles" value="admin">
                          <label for = "admin">Owner
                      </label>
                          </div>
                            <!-- Log in Button -->
                            <div class="form-group row justify-content-center">
                                <div class="col-3 px-3"> <input type="submit" (click)="registerUser()" value="Log in" class="btn btn-block btn-info"> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>