<div class="title">Our other branches in:</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/oia.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Oia</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Greece</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/venice.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Venice</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Italy</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="../../assets/images/naples.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Naples</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Italy</p>
                    </div>
                </a> </div>
        </div>
    </div>
</div>