<footer>
    <section id="newsletter">
      <div class="row">
  
        <div class="co">
          <h1>VISIT SOON</h1>
        </div>
  
        <div class="co">
          <form>
            <input type="email" placeholder="Email Adresss"><br>
            <button type="submit" class="button_1">Subscribe Now</button>
          </form>
        </div>
  
        <div class="co">
          <p>WANT TO KNOW MORE?<br> 123-456-7777<br>athens@athens.com</p>
        </div>
  
      </div>
  <br><br><p>&copy2021 by Gaurav</p>
  
  
    </section>
  
  </footer>