<div class="col-md-6 offset-md-3">
    <h3> Update Guest </h3>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success! </strong>Data processed successfully!
        <button (click) ="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            
        </button>
        </div>
    <form #editForm="ngForm" (ngSubmit) = "onSubmit(editForm.value)" >
    
        <div class="form-group">
            <label> Name </label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "guest.name" name = "name">
        </div>
        <input type="hidden" [(ngModel)] ="guest.id" name="id" class="form-control" id="id" placeholder="ID">
    
        <div class="form-group">
            <label> Email </label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "guest.email" name = "email">
        </div>
    
        <div class="form-group">
            <label> Gender </label>
            <input type="text" class ="form-control" id = "gender"
                [(ngModel)] = "guest.gender" name = "gender">
        </div>

        <div class="form-group">
            <label> Phone </label>
            <input type="text" class ="form-control" id = "phone"
                [(ngModel)] = "guest.phone" name = "phone">
        </div>

        <div class="form-group" ngModelGroup="address">
            <label> City </label>
            <input type="text" class ="form-control" id = "city"
                [(ngModel)] = "guest.address.city" name = "city">
            <label> State </label>
            <input type="text" class ="form-control" id = "state"
                [(ngModel)] = "guest.address.state" name = "state">
            <label> Pin Code </label>
            <input type="text" class ="form-control" id = "pin"
                [(ngModel)] = "guest.address.pin" name = "pin">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 