
<div class="alert" [class.visible]="isVisible"> 
    The payment window opened successfully!!
  </div>
<div class="padding">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-header">
                <strong><h2>Payment</h2></strong>
                <small><b>Welcome to the payments page</b></small>
            </div>
            <div class="card">
                <p><b><br>The following license agreement (this “Agreement”) is a legal agreement between you (or your company or institution) and Bootdey, the owner of the online Service (the “Service”) at The Artemis. By using the Service online, you agree to be bound by the terms of this Agreement. If you do not agree to the terms of this Agreement, do not use the Service. Registration Data and certain other information about you is subject to our Privacy Policy.
                </b></p>
                <div class="card-footer">
                    <button (click)="pay()" class="btn btn-sm btn-success float-right" type="submit">Pay</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>