<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
            <div class="col-sm-12">
                <!-- Draggable default card start -->
                <div class="card">
                   
                    <div class="card-block">
                        <div class="row" id="sortable">
                            <div class="col-md-3" >
                                <div class="card-sub"> <img class="card-img-top img-fluid" src="../../assets/images/img2.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <h3 class="card-title">Double Room</h3>
                                        <p class="card-text"><b>2 <i class="fa fa-sun-o"></i>, 1 <i class="fa fa-moon-o"></i><br><i class="fa fa-rupee"></i> 7000/-</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="card-sub"> <img class="card-img-top img-fluid" src="../../assets/images/img1.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <h3 class="card-title">Single Room</h3>
                                        <p class="card-text"><b>2 <i class="fa fa-sun-o"></i>, 1 <i class="fa fa-moon-o"></i><br><i class="fa fa-rupee"></i> 5000/-</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" draggable="false" >
                                <div class="card-sub"> <img class="card-img-top img-fluid" src="../../assets/images/img3.jpg" alt="Card image cap" draggable="false">
                                    <div class="card-block">
                                        <h3 class="card-title">Duplex</h3>
                                        <p class="card-text"><b>2 <i class="fa fa-sun-o"></i>, 1 <i class="fa fa-moon-o"></i><br><i class="fa fa-rupee"></i> 5500/-</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="card-sub"> <img class="card-img-top img-fluid" src="../../assets/images/img4.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <h3 class="card-title">Twin Room</h3>
                                        <p class="card-text"><b>2 <i class="fa fa-sun-o"></i>, 1 <i class="fa fa-moon-o"></i><br><i class="fa fa-rupee"></i> 9000/-</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Draggable default card start -->
            </div>
        
    </div>
</div>