<div class="container">
    <div id="branding">
      <img [src] = "thumbnail" width=75px height=75px>
    </div>
    <nav>
      <ul>
        <li class="current"><a href="index.html">Home</a></li>
        <li><a href="">What to see</a></li>
        <li><a href="">Offers</a></li>
        <li><a href="">Sign up & donate</a></li>
      </ul>
    </nav>
  </div>

<section id="showcase">
  <div class="container">
    <h1>Acropolis of Athens</h1>
    <p>In classical times, the owl was the emblem of the city of Athens. It was the sacred bird of the goddess Athena, the city's patron deity. Vase paintings, statues and reliefs often show Athena in the company of an owl, which sometimes flies around her and at other times sits on her shoulder, imparting its counsel.</p>
  </div>
</section>

<section id="boxes">
  <div class="container">

    <div class="box">
      <a href=""><img [src]="athens"></a>
      <h3>Athena</h3>
      <p>Athena was the Goddess of War, the female counterpart of Ares.</p>
    </div>

    <div class="box">
      <a href=""><img [src]="athens"></a>
      <h3>Zeus</h3>
      <p>Zeus is the god of the sky, lightning and the thunder in Ancient Greek religion and legends.</p>
    </div>

    <div class="box">
      <a href=""><img [src]="athens"></a>
      <h3>Hera</h3>
      <p>Hera, wife of Zeus and queen of the ancient Greek gods.</p>
    </div>

    <div class="box">
      <a href=""><img [src]="athens"></a>
      <h3>Poseidon</h3>
      <p>Poseidon is the violent and ill-tempered god of the sea.</p>
    </div>

  </div>
</section>
