<div class = "container mt-5">
    <div class ="col-lg-12 col-sm-12 col-xs-12">
        <table class = "table table-striped">
            <thead>
                <tr class = "bg-info text-light">
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Email</td>
                    <td>Phone</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let guest of guests">
                    <td>{{guest.name}}</td>
                    <td>{{guest.gender}}</td>
                    <td>{{guest.email}}</td>
                    <td>{{guest.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>